apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: python-tudqixgs
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/python-tudqixgs:e424dae22efe0ed6829ee3d48e7ee84ba50a101f@sha256:1be4f07d52a2df2c06dcce3fde2cde19a93d5c4837b38a5e56b6f594bb7f401b
          name: container-image
